{% load static %}


<html>
    <head>
        <style>
            body {background-color: rgb(170, 225, 238);}
            h1   {
                color: purple;
                margin-left: 40px;
            }
            p    {
                color: black;
                margin-left: 40px;
            
            }

            h2   {
                color: purple;
                margin-left: 40px;
            }
            

        </style>



        <title>NGS Database - test</title>


        <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet", href="{% static '/Users/mkh1805/Box/NGS-DB/RNAseq_DB/testNGS/static/css/blog.css' %}">
        <link rel="stylesheet", href="{% static '/Users/mkh1805/Box/NGS-DB/RNAseq_DB/testNGS/static/css/sidebar.css' %}">

        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        

    </head>

    

    
    <body>
        
        
        
            <div class="w3-display-container">
            <img class="w3-display-container" alt="NGS Database" src="//assets.illumina.com/content/dam/illumina-marketing/images/systems/v2/web-graphic/learn-about-ngs-placeholder-web-graphic.jpg">    
            <div class="w3-display-topleft w3-container">NGS Database</div>
            <div class="w3-display-topright w3-container">Top Right</div>

            <h1><a href="/">NGS Database</a></h1>
        </div>
        
            
        <!-- n =  new Date();
        y = n.getFullYear();
        m = n.getMonth() + 1;
        d = n.getDate();
        document.getElementById("date").innerHTML = m + "/" + d + "/" + y; -->

        
        <div class = 'post'>   
            <p id = 'date'>Last updated: </p>
            <h2><a href="">Search by Date</a></h2>
            <p>Please input the date that you want to search within:</p>
        </div>
        


        <div>
            <p>Last updated: get_date</p>
            <h2><a href="">Search by User</a></h2>
            <p>Please input the user/PI that is involved in the RNAseq.</p>
        </div>

        <div>
            <p>Last updated: get_date</p>
            <h2><a href="">Search by runID</a></h2>
            <p>If you remember the runID from the sequencing log, please insert it here.</p>
        </div>

        <div>
            <strong>Datbase user guide<strong>
        </div>


        <div>
            <strong>About NGS - Video from Illumina<strong>
        </div>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/fCd6B5HRaZ8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        

    </body>
</html>


